header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: 'Inter';
    height: 8rem;
    background-color: #FFF7ED;
    /* border-radius: 15px 15px 0px 0px; */
    max-width: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}

nav > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: #4D4D4D;
}

nav > a:hover {
  border-bottom: 2px solid #16161657; /* Only changes color */
}

.site-logo{
    text-decoration: none;
    justify-self: flex-start;
    flex: 1;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    font-weight: bolder;
    color: #000000;
}

.home-container{
    margin-bottom: -1px;
    color: white;
    height: 80vh;
    background-image: url('/src/assets/images/homebg.png'); /* relative or absolute path */
    background-size: cover;       /*Ensures the image covers the entire container */
    background-position: center;  /*Center the image */
    background-repeat: no-repeat;  /*Prevents the image from repeating */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    text-align: start;
    gap: 2rem;

}

.home-container > h1{
    width: 800px;
    font-size: 3.5rem;
}

.home-container > p{
    width: 800px;
    font-size: 1.3rem;
}

.home-container > .findVanBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8C38;
    text-decoration: none;
    height: 3.5rem;
    color: white;
    width: 800px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

.about-page-container{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.about-page-container img {
  width: 100vw;
  height: auto;
  display: block;
}

.about-page-content{
    display: flex;
    flex-direction: column;
    width: 800px;
    font-size: 1.3rem;
    text-align: start;
    gap: 1rem;
}

.about-page-cta{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 800px;
    background-color: #FFCC8D;
    padding: 3rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.about-page-cta > h2{
    font-size: 2.5rem;
    width: 600px;
}

.about-page-cta > a{
    background-color: #000000;
    text-decoration: none;
    padding: 18px 30px;
    color: white;
    border-radius: 10px;
    max-width: 200px;
}

.vansWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    flex-direction: column;
}

.vansWrapper > .title-filter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    min-width: 620px;
}

.filters{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.vans-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.2rem;
    row-gap: 1.5rem;
}

.singleVan{
    max-height: 400px;
    max-width: 300px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.singleVan > img{
    max-height: 300px;
    border-radius: 10px 10px 0 0;
}

.singleVan > .van-description{
    display: flex;
    margin-inline: 5px;
    justify-content: space-between;
}

.btn-simple,
.btn-rugged,
.btn-luxury,
.btn-filter{
    background-color: rgb(6, 175, 6);
    padding: 10px 35px;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
    color: white;
    font-size: 1rem;
    transition: border 0.1s ease;
}

.singleVan > .btn-simple:hover,
.singleVan > .btn-rugged:hover,
.singleVan > .btn-luxury:hover
{
    border: 1px solid rgba(54, 52, 52, 0.281);
}

.btn-rugged{
    background-color: #115E59;
}

.btn-luxury{
    background-color: #000000;
}

.btn-filter{
    background-color: #a58e72;
    box-shadow: 0px 3px 0px gray;
    transition: box-shadow 0.2s ease;
}

.btn-filter:hover{
    box-shadow: 0px 3px 3px rgb(126, 196, 228);
}

.btn-filter:active{
    box-shadow: 0px 0px 0px rgb(126, 196, 228);
}

@media (max-width:620px) {
    .vans-container{
    grid-template-columns: repeat(1,1fr);
    }
    .filters{
        flex-direction: column;
        gap: 2rem;
    }

    .vansWrapper > .title-filter{
        min-width: 100px;
    }

    .filterButton{
        display: grid;
        gap: 0.7rem;
    }

    .btn-filter{
        padding: 10px 75px;
    }

}

@media (min-width:1100px) {
    .vans-container{
        grid-template-columns: repeat(3,1fr);
        column-gap: 2.4rem;
        row-gap: 4rem;
    }
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #252525;
    height: 90px;
}