*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body{
  background-color: #FFF7ED;
}

#root{
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}